


.profile_portada_img{
    position: relative;
    height: 400px;
    width: 100%;
    background-size: cover!important;
    background-position: center!important;
    @media (max-width: 768px)  {
        height: 200px;
        
    }
  


}
.profile_profile{
    background-color: white;
}
.profile_profile .img{
    // background: url('./');
    // z-index: 100;
    position: relative;
    margin: auto;
    width: 200px;
    max-width: 100%;
    height: 200px;
    background-size: cover!important;
    background-position: center!important;
    display: block;
    border-radius: 50%;
    margin-top: -100px;
    background-color: white!important;   

}
.profile_infomation{
    background-color: white;   

}
.profile_menu button, 
.profile_cover button{
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 28px;
    width: 60px;
    height: 60px;
    background: white;
    border-radius: 50%;
    border: solid 1px var(--bs-gray-dark);
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.profile_cover button{
    width: 40px;
    height: 40px;
    border: none;
    // background: none;
    // font-size: 4rem;
    
}

#profile_upload input{
    display: none;

    
}
#profile_upload label{
    width: 100%;
    font-size: 10rem;
    text-align: center;
}
.profile_modal_text{
    font-size: 1.2rem;
}
.profile_img_change{
    width: 100%;
    
}
.profile_modal_box{
    height: 400px;
    overflow: auto;
}
#profile_toogle{
    display: none;
}
.profile_input_text{

    display: block;
    width: 100%;
    border: none;
    background-color: none;
    padding: 10px 0;

}

// 
.profile_public{
    background-color: white;
}

.profile_public_body{
    align-items: center;
}